In [8]:
#Задание 1
#Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
#Создайте датафрейм authors со столбцами author_id и author_name, 
#в которых соответственно содержатся данные: 
#[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
#Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
#[1, 1, 1, 2, 2, 3, 3],
#['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
#[450, 300, 350, 500, 450, 370, 290].

import pandas as pd
import numpy as np

a = {'author_id':[1, 2, 3],
     'author_name':['Тургенев', 'Чехов', 'Островский']}
authors = pd.DataFrame(a)
print(authors)

b = {'author_id':[1, 1, 1, 2, 2, 3, 3],
    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price':[450, 300, 350, 500, 450, 370, 290]}
book = pd.DataFrame(b)
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [137]:
#Задание 2
#Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

authors_price = pd.merge(authors, book, on = 'author_id', how = 'inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [135]:
#Задание 3
#Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

z = [x for x in authors_price['price']]
z.sort(reverse = True)
z = z[0:5]

top5 = authors_price[authors_price['price'].between(min(z),max(z))]
top5 = pd.DataFrame(top5)
top5 = top5.sort_values(by='price', ascending = False)
top5

In [147]:
#Задание 4
#Создайте датафрейм authors_stat на основе информации из authors_price. 
#В датафрейме authors_stat должны быть четыре столбца:
#author_name, min_price, max_price и mean_price,
#в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора .

t1 = min(authors_price['price'][authors_price['author_name'] == 'Тургенев'])
t2 = max(authors_price['price'][authors_price['author_name'] == 'Тургенев'])
t3 = np.mean(authors_price['price'][authors_price['author_name'] == 'Тургенев'])

c1 = min(authors_price['price'][authors_price['author_name'] == 'Чехов'])
c2 = max(authors_price['price'][authors_price['author_name'] == 'Чехов'])
c3 = np.mean(authors_price['price'][authors_price['author_name'] == 'Чехов'])

o1 = min(authors_price['price'][authors_price['author_name'] == 'Островский'])
o2 = max(authors_price['price'][authors_price['author_name'] == 'Островский'])
o3 = np.mean(authors_price['price'][authors_price['author_name'] == 'Островский'])

authors_stat = {'author_name': ['Тургенев', 'Чехов', 'Островский'],
        'min_price':  [t1,c1,o1],
        'max_price': [t2,c2,o2],
        'mean_price': [t3,c3,o3]}
authors_stat = pd.DataFrame(authors_stat)
authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450  366.666667
1       Чехов        450        500  475.000000
2  Островский        290        370  330.000000

In [151]:
import os
os.getcwd()

'C:\\Users\\Эргней'